.image-slider {
  position: relative;
  max-width: 1200px;
  width: 100%;
  height: 500px;
}
@media screen and (max-width: 810px) {
  /* Styles for tablets */
  .image-slider {
    max-width: 720px;
    height: 300px;
  }
}
@media screen and (max-width: 390px) {
  /* Styles for mobiles */
  .image-slider {
    max-width: 480px;
    height: 200px;
  }
}

/* Styling images wrapper */
.image-slider .images-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.image-slider .images-wrapper img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  flex-grow: 0;
  flex-shrink: 0;
  transition: transform 300ms ease-in-out;
}
/* --------------------------------------------------------- */

/* Styling arrows buttons */
.image-slider button.arrow-wrapper {
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  transition: background-color 300ms ease-in-out;
}
.image-slider button.arrow-wrapper:hover,
.image-slider button.arrow-wrapper:focus-visible {
  background-color: rgba(255, 255, 255, 0.9);
}

.image-slider button.arrow-wrapper svg.arrow {
  color: black;
  display: block;
  padding: 10px;
}

@media screen and (max-width: 390px) {
  /* Styles for mobiles */
  .image-slider button.arrow-wrapper {
    width: 20px;
    height: 20px;
  }
  .image-slider button.arrow-wrapper svg.arrow {
    width: 10px;
    height: 10px;
    padding: 0;
    transform: translateX(50%);
  }
}

/* --------------------------------------------------------- */

/* Styling dots */
.image-slider .dots {
  position: absolute;
  display: flex;
  gap: 5px;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.image-slider .dots button.dot-wrapper {
  position: relative;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: scale 100ms ease-in-out;
}
.image-slider .dots button.dot-wrapper:hover,
.image-slider .dots button.dot-wrapper:focus-visible {
  scale: 1.2;
}

.image-slider .dots button.dot-wrapper svg {
  border: 2px solid white;
  border-radius: 50%;
  color: black;
  width: 15px;
  height: 15px;
}

.image-slider .dots button.dot-wrapper .inner-dot {
  position: absolute;
  background-color: white;
  border-radius: 50%;
  display: block;
  width: 5px;
  height: 5px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
}

@media screen and (max-width: 390px) {
  /* Styles for mobiles */
  .image-slider .dots button.dot-wrapper svg {
    width: 10px;
    height: 10px;
  }
}

/* --------------------------------------------------------- */
